<h3 style="text-align: center ; color: rgb(127, 255, 212);">add patient</h3>
<p></p>
<p></p>


    <form>
    <label for="firstName" >first name : </label>
<input type="text" name="firstName" placeholder="first name" required="" [(ngModel)] ="patient.firstName"> <br>
<label for="lastName" >last name : </label>
<input type="text" name="lastName" placeholder="last name" required="" [(ngModel)]="patient.lastName" class="form-control"> <br>
<label for="phoneNumber" >phone number : </label>
<input type="text" name="phoneNumber" placeholder="phone number" required="" [(ngModel)]="patient.phoneNumber" class="form-control"> <br>
<label for="age" >age : </label>
<input type="number" name="age" placeholder="age" required="" value=""> <br>
<label for="gender" >gender : </label>
male :<input type="radio" name="gender" placeholder="gender" required="" value="m" [(ngModel)]="patient.gender" class="form-control">
female :<input type="radio" name="gender" placeholder="gender" required="" value="f" [(ngModel)]="patient.gender" class="form-control">
other :<input type="radio" name="gender" placeholder="gender" required="" value="o" [(ngModel)]="patient.gender" class="form-control" checked=""> <br>
<label for="status" >status : </label>
<input type="number" name="status" placeholder="status" required="" [(ngModel)]="patient.status" class="form-control"> <br>
<label for="createdDate" >created date : </label>
<input type="date" name="createdDate" placeholder="created date" required="" [(ngModel)]="patient.createdDate"> <br>
<label for="createdBy" >created by : </label>
<input type="text" name="createdBy" placeholder="created by" required="" [(ngModel)]="patient.createdBy" > <br>
<label for="updatedBy" >updated by : </label>
<input type="text" name="updatedBy" placeholder="updated by" required="" [(ngModel)]="patient.updatedBy" > <br>

<button type="submit" (click) = "savePatient()">Submit</button>
</form>


<h3>result</h3>
<p>{{patien| json}}</p>


